.container {
    margin-top: 100px;

    .password__input {
        width: 300px;
    }

    .password__level {
        display: flex;
        width: 300px;
        margin: 0 auto;
        justify-content: space-around;

        .level {
            margin-top: 10px;
            width: 30px;
            height: 10px;
            background: gray;
        }

        .easy:nth-child(-n+1) {
            background: red;
        }
        .medium:nth-child(-n+2) {
            background: yellow;
        }
        .strong:nth-child(n) {
            background: green;
        }
        .less:nth-child(n) {
            background: red;
        }
    }

    
}